input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

div.myForm {
    font-size: large;
    margin: 10px;
}

ul {
    list-style-type: none;
}
